<div class="container">
    <div class="jumbotron center">
        <div ng-show="inputEmpty === true" class="alert alert-grey" role="alert">ENTER DATA</div>

        <div ng-show="inputEmpty === false && base64Coded === 'encoded'" class="alert alert-success" role="alert">
        ENCODED
        </div>

        <div ng-show="inputEmpty === false && base64Coded === 'decoded'" class="alert alert-success" role="alert">
        DECODED
        </div>

        <form>
            <div ng-class="{'form-group has-error': (inputEmpty === false && base64Coded === 'na'), 'form-group has-success': (inputEmpty == false && base64Coded !== 'na')}">
            <p>
                    <ui-codemirror class="text-left" ui-codemirror-opts="editorOptions"
                                   ng-model="base64Input"></ui-codemirror>
                </p>

                <p>
                    <input type="button" class="btn btn-primary" ng-click="base64InputEncode()" value="Encode"/>
                    <input type="button" class="btn btn-primary" ng-click="base64InputDecode()" value="Decode"/>
                </p>
            </div>
        </form>
    </div>
</div>