<div class="container">
    <div class="jumbotron center">
        <div ng-show="firstAction === true" class="alert alert-grey" role="alert">ENTER JSON DATA</div>

        <div ng-show="firstAction === false && jsonValid === 'true'" class="alert alert-success" role="alert">
            FORMATTED
        </div>

        <div ng-show="firstAction === false && jsonValid !== 'true'" class="alert alert-danger" role="alert">INVALID
        </div>

        <form>
            <div ng-class="{'form-group has-error': (firstAction === false && jsonValid !== 'true'), 'form-group has-success': (firstAction == false && jsonValid === 'true')}">
                <p>
                <textarea
                        class="form-control"
                        rows="15"
                        ng-model="jsonInput"></textarea>
                </p>

                <p>
                    <input type="button" class="btn btn-primary" ng-click="jsonInputChange()" value="Format"/>
                </p>
            </div>
        </form>
    </div>
</div>