<div class="container">
    <div class="jumbotron center">
        <div ng-show="firstAction === true" class="alert alert-grey" role="alert">ENTER DATA</div>

        <div ng-show="firstAction === false && urlCoded === 'encoded'" class="alert alert-success" role="alert">
            ENCODED
        </div>

        <div ng-show="firstAction === false && urlCoded === 'decoded'" class="alert alert-success" role="alert">
            DECODED
        </div>

        <form>
            <div ng-class="{'form-group has-error': (firstAction === false && urlCoded === 'na'), 'form-group has-success': (firstAction == false && urlCoded !== 'na')}">
                <p>
                <textarea
                        class="form-control"
                        rows="15"
                        ng-model="urlInput"></textarea>
                </p>

                <p>
                    <input type="button" class="btn btn-primary" ng-click="urlInputEncode()" value="Encode"/>
                    <input type="button" class="btn btn-primary" ng-click="urlInputDecode()" value="Decode"/>
                </p>
            </div>
        </form>
    </div>
</div>