<div class="container">
    <div class="jumbotron center">
        <div ng-show="message.isEmpty() && errorMessage.isEmpty()" class="alert alert-grey" role="alert">ENTER XML DATA</div>

        <div ng-hide="message.isEmpty()" class="alert alert-success" role="alert">{{message}}</div>

        <div ng-hide="errorMessage.isEmpty()" class="alert alert-danger" role="alert">{{errorMessage}}</div>

        <form>
            <div ng-class="{'form-group has-error': (!errorMessage.isEmpty()), 'form-group has-success': (!message.isEmpty())}">
            <p>
                    <ui-codemirror class="text-left" ui-codemirror-opts="editorOptions"
                                   ng-model="xmlInput"></ui-codemirror>
                </p>

                <p>
                    <input id="formatXmlButtonId" type="button" class="btn btn-primary" ng-click="xmlInputChange()" value="Format"/>
                </p>
            </div>
        </form>
    </div>
</div>