<div class="container">
    <div class="jumbotron center">
        <div ng-show="hasNoContent()" class="alert alert-grey" role="alert">ENTER XML DATA</div>

        <div ng-show="hasValidContent()" class="alert alert-success" role="alert">FORMATTED</div>

        <div ng-show="hasInvalidContent()" class="alert alert-danger" role="alert">INVALID {{message}}</div>

        <form>
            <div ng-class="{'form-group has-error': hasInvalidContent(), 'form-group has-success': hasValidContent()}">
            <p>
                    <ui-codemirror class="text-left" ui-codemirror-opts="editorOptions"
                                   ng-model="xmlInput"></ui-codemirror>
                </p>

                <p>
                    <input id="formatXmlButtonId" type="button" class="btn btn-primary" ng-click="xmlInputChange()" value="Format"/>
                </p>
            </div>
        </form>
    </div>
</div>